@page
@model SignupModel
@{
    ViewData["Title"] = "Signup Now";
}


<h1>@ViewData["Title"]</h1>
 
<p>If you are new here Signup today.</p>
<form  asp-controller="SignupController" asp-action="Create" method="POST">
<input class="form-control mb-3" type="text" placeholder="Name"/>
<input  class="form-control mb-3" type="text" placeholder="Email"/>
<input  class="form-control mb-3" type="password" placeholder="Password"/>
<input type="submit" class="btn btn-primary" value="Sign Up"/>
</form>
